<%
  # Partial for displaying the items in a has_many relationship
  #
  # ==== Parameters
  #
  # model<DataMapper::Base>: the model to which the relationship belongs
  # 
  # association<DataMapper::Associations::HasManyAssociation>: the association that forms the
  #   basis for the relationship
%>

<dt><%= association.name.to_s.capitalize %></dt>
<dd>
  <ol>
    <% for obj in model.send( association.name ) %>
      <li>
        <%= scaf_link(obj) %>
      </li>
    <% end %>
  </ol>
</dd>