<h1>
  Edit: <%= scaf_title( @model ) %>
</h1>

<form action="<%= url( self.class.Model.singular_name, @model ) %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <%= partial( 'form', :model => @model ) %>
  <input type="submit" value="Update" />
  <a href="<%= url( self.class.Model.singular_name, @model ) %>">Cancel</a>
</form>