<h1>
  All <%= self.class.Model.plural_name %>
</h1>

<a href="<%= url("new_#{ self.class.Model.singular_name }") %>">New</a>

<ul>
  <% for model in @models -%>
    <li>
      <a href="<%= url( model.class.singular_name, model ) %>">
        <%= model.try(:name) || model.try(:title) || "#{ model.class.to_s } ##{ model.id }" %>
      </a>
    </li>
  <% end %>
</ul>