<html>
  <head>
    <title>Merb AutoScaffolding</title>
    <style type="text/css" media="screen">
body {
  font-family: Helvetica, Arial, Verdana, san-serif;
  font-size: 85%;
}

ul.unlist {
  list-style: none;
  margin:0;
  padding:0;
}

ul.horizontal {
  overflow:auto;
}

ul.horizontal li {
  float:left;
  padding-right: .5em;  
}
    </style>
  </head>
  <body>
    <%= catch_content :for_layout %>
  </body>
</html>